<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/uploads/sidebar.css" />
  </head>

  <body>
    <div class="dashboard-container">
      <%- include('partials/sidebar') %>

      <main class="main-content">
        <%- include('partials/header') %>

        <div class="uploads-dashboard-container">
          <div class="uploads-sidebar-wrapper">
            <%- include('partials/uploads/sidebar') %>
          </div>
          <div class="uploads-main-content-wrapper"></div>
        </div>
      </main>
    </div>

    <%- include('partials/footer') %>
    <script src="/js/uploads/sidebar.js"></script>
    <script>
      document.addEventListener("companySelected", (event) => {
        const selectedCompanyName = event.detail;
        console.log(`Selected company: ${selectedCompanyName}`);
        // Add your logic here to handle the selected company
      });
    </script>
  </body>
</html>